<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
            <string>HBPackageNameHeaderCell</string>
            <key>packageIdentifier</key>
            <string>me.conorthedev.pastel</string>
            <key>backgroundGradientColors</key>
            <array>
                <string>#F2CBCE</string>
                <string>#F2CBCE</string>
            </array>
			<key>titleColor</key>
			<string>#111111</string>
			<key>subtitleColor</key>
			<string>#444444</string>
        </dict>
		<dict>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>label</key>
            <string>Conor</string>
            <key>user</key>
            <string>ConorTheDev</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.conorthedev.pastel.prefs</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
	        <string>me.conorthedev.pastel.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Badge Configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.conorthedev.pastel.prefs</string>
			<key>key</key>
			<string>kNotificationBadgeEnabled</string>
			<key>label</key>
			<string>Colourize Notification Badges</string>
			<key>PostNotification</key>
	        <string>me.conorthedev.pastel.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.conorthedev.pastel.prefs</string>
			<key>key</key>
			<string>kCustomColorEnabled</string>
			<key>label</key>
			<string>Use Custom Badge Color</string>
			<key>PostNotification</key>
	        <string>me.conorthedev.pastel.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.conorthedev.pastel.prefs</string>
			<key>key</key>
			<string>kCustomTextColorEnabled</string>
			<key>label</key>
			<string>Use Custom Text Color</string>
			<key>PostNotification</key>
	        <string>me.conorthedev.pastel.prefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>me.conorthedev.pastel.colorprefs</string>
				<key>key</key>
				<string>kCustomColor</string>
				<key>fallback</key>
				<string>#ffffff</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Custom Badge Colour</string>
			<key>key</key>
			<string>kCustomColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>me.conorthedev.pastel.colorprefs</string>
				<key>key</key>
				<string>kCustomTextColor</string>
				<key>fallback</key>
				<string>#FFFFFF</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Custom Text Colour</string>
			<key>key</key>
			<string>kCustomTextColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Banner Configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.conorthedev.pastel.prefs</string>
			<key>key</key>
			<string>kNotificationBannerEnabled</string>
			<key>label</key>
			<string>Colourize Notification Banners</string>
			<key>PostNotification</key>
	        <string>me.conorthedev.pastel.prefs/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Pastel</string>
</dict>
</plist>
